.container {
	width:auto;
}

.container-cart {
	.summary-template-holder {
		width:100%;
	}

	.forms.coupon-column.summary-coupon-wrap {
		width:100%;	
	}

	.totalizers {
		&.summary-totalizers {
			&.cart-totalizers {
				width:100%;
			}
		}

	}

	.full-cart {
		.summary-totalizers {
			tr {
				float: none;
			}
		}
	}
}

.summary-template-holder {
	.summary {
		.coupon, .shipping {
			width:100%;
			margin-bottom: 10px;
		}
	}
}

#cart-coupon {
	width:100%;
	margin-bottom: 10px;
	border: 1px solid #D0D2D3;
}

.cart-links-bottom {
	width: 100%;
}

.btn-success {
	width: 100%;
}

.table.cart-items {
	width:100%;
}

.product-image{ 
	img {
		margin: 0;
	}
}

.full-cart {
	.cart { 
		table {
			tr {
				td {
					&.quantity {
						input {
							width: 35px;
						}
					}
				}
			}
		}
	}
}

.client-pre-email{ 
	.client-email {
		margin-left: 0;
		height: auto;
	}
}

#client-pre-email {
	width:100%;
	margin-bottom: 10px;
	float:none;
}

#btn-client-pre-email {
	width:100%;
}

.orderform-template-holder {
	.row-fluid .span6 {
		width:100% !important;
	}
}

.step {
	.text input {
		position:static !important;
	}
}

input, select {
	&.input-xlarge {
		width:100%;
		max-width: 100%;
	}
}

input {
	&.input-small {
		width: 100%;
	}

	.input-micro {
		width: 15%;
	}
}

p {
	&.input{
		width:100%;
	}
	&.client-first-name {
		width:100%;
		margin-right:0;
	}
}

.client-phone {
    width: 100%;
}

.box-client-info-pf {
	margin-right: 0;
}

#go-to-payment, #go-to-shipping, .address-save, .btn-go-to-payment {
	width:100%;
	margin-top:0;
	margin-bottom:10px;
}

#client-phone3 {
	width:80%
}

#shipping-data {
	margin: 0;
	margin-top:20px;
	float:none;
}

#payment-data {
	margin: 0;
}

.cart-fixed {
	margin:0;
	width:100%;
}

.mini-cart {
	tfoot {
		width:100%;
		tr {
			width:100%;		
		}
	}
	.table {
		td {
			font-size: 20px;
		}
		.totalizers-list {
			width:100%;
		}
	}
}

span{
	&.error {
		width:100% !important;
	}
}