&.detalle-producto{
	.col{
		float: none;
		width: 100%;
	}
	.apresentacao{
		float: none;
		width: 100%;
	}
	#main-image-zoom{
		float: none;
		height: auto;
		width: 100%;
	}
	.plugin-preco .price-best-price .skuBestPrice{
		font-size: 20px;
	}
}
