.popup {
	&.agregar {
		.btn {
			float: none;
			width: 100%;
		}
		.col-1 {
			width: 100%;
			margin-bottom: 10px;
			text-align: center;
		}
		.col-2 {
			width: 100%;
		}
	}

	.tit {
		font-size: 16px;
	}

	.wrap {
		padding-left: 10px;
		padding-right: 10px;
		padding-top:10px;
		padding-bottom:5px;
	}

	&.cuotas {
		.pie {
			.col-1 {
				width: 100%;
				margin-bottom: 10px; 
			}
			.col-2 {
				width: 100%;
			}
			.btn {
				float: none;
				width: 100%;
			}
		}
	}
	&.envio{
		.fondo-1 {
			padding:0px;
			padding-top:5px;
			padding-bottom:0px!important;
			margin: 0px;
		}
		.head {
			padding:0px;
			.btn {
				width: 100%;
				margin: 0px;
				margin-top: 15px;
			}
		}
	}
}