.home-tabs {
	// margin-top: -35px;
	margin-top: 0;
	.ui-tabs {
		.ui-tabs-nav {
			&.ui-widget-header{
				width: 100%;
			}
			.icono{
				background-repeat: no-repeat;
				background-size: (780px/2) (428px/2);
  			margin-top: 6px;
  			&.medida{
  				background-position: (-1px/2) (-86px/2);
  				// background-position: (-1px/2) (-135px/2);
  				height: (40px/2);
  				width: (50px/2);
  			}
  			&.categoria{
  				background-position: (-104px/2) (-86px/2);
  				height: (40px/2);
  				width: (40px/2);
  			}
			}
			li.ui-state-default {
				a{
					font-size: 12px;
					padding: 15px;
				}
				&.ui-state-hover{
					.icono{
						&.medida{
		  				background-position: (-1px/2) (-37px/2) !important;
		  				height: (40px/2);
		  				width: (50px/2);
		  			}
						&.categoria{
		  				background-position: (-104px/2) (-37px/2) !important; 
		  				height: (40px/2);
		  				width: (40px/2);
		  			}
					}
				}
				&.ui-state-active{
					.icono{
						&.medida{
		  				background-position: (-1px/2) (-135px/2) !important;
		  				height: (40px/2);
		  				width: (50px/2);
		  			}
						&.categoria{
		  				background-position: (-104px/2) (-135px/2) !important;
		  				height: (40px/2);
		  				width: (40px/2);
		  			}
					}
				}
			}
		}
	}
	.ui-tabs-panel{
		form{
			select{
				width: 100%;
			}
		}
	}
}

.grupo-select-2 {
	padding: 10px;
	.col{
		float: none;
		width: 100%;
		margin: 0 0 10px;
		&:last-of-type{
			width: 100%;
			.tit{
				display: none;
			}
		}
	}
	button{
		position: relative;
		width: 100%;
		&:before{
			content: "Buscar";
			color: #000;
			position: absolute;
			top: 50%;
			left: 50%;
			transform:translate(-50%, -50%);
		}
	}
}