@import '../bower_components/breakpoint-sass/stylesheets/breakpoint';

@import 'mixins';
$xs: max-width 736px;



@include breakpoint($xs) {
	body{
		overflow-x: hidden;
		margin-top: 0px !important;
	}
	.center-wrap{
		display: block;
		width: 100%;
	}
	img{
		display: block;
		height: auto;
		max-width: 100%;
		width: auto;
	}
	.main{
		// overflow: hidden;
		float: none;
		display: block;
		// margin-top: 98px !important;
		margin-top: 0 !important;
		@include clearfix();
	}

	
	.center-wrap{
		max-width: 100%;
	}
	.container{
    	width: auto !important;
	}

	.ajax-content-loader{
		display: none !important;
	}

	.barra-alerta 
		{.vtex-call-center-operator{
			display: none !important; 
		}
	}

	.client-pre-email .emailInfo{
		width: 100%;
		background-color: red;
	}


	.fancybox-wrap .fancybox-close, .popup.banco .btn.cerrar{
		background-size:inherit;
	}

	@import 'header';
	@import 'footer';
	@import 'tabs';
	@import 'modulo';
	@import 'contacto';
	@import 'list-page';
	@import 'popup';
	@import 'search';
	@import 'slider-principal';
	@import '_cart';
	@import 'orders';

}
@include breakpoint(max-width 360px) {
	header{
		.logo{
			// margin-top: 7px;
			// width: 110px !important;
		}
		.nav-1{
			ul{
				li{
					.atencion{
						.info{
							.tit{
								display: block !important;
								font-size: 12px !important;
								margin-top: 9px;
							}
						}
						.flecha{
							margin-top: 12px;
						}
					}
				}
			}
		}
	}
	.home-tabs .ui-tabs .ui-tabs-nav li.ui-state-default a{
		font-size: 9px;
	}
}
.hide{
	display: none !important;
}

